<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My email template</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>hello world!</h1>
    <img src="/images/email/0.jpg" alt="logo" class="avatar">
    <% for(var i=0; i<news.length; i++) {%>
      <p><%= news[i].h1 %></p>
    <% } -%>
</body>
</html>
